{% for block in page.sections%}
{% case block.type %}
{% when 'full-width-image' or 'center-image' or 'split-image-left' or 'split-image-right' %}
<div class="{{ block.type }} content-block">
  <figure>
    <img src="{{ block.image | prepend: site.url }}"> 
    <figcaption class="caption text-center pin-horizontal-center">{{ block.caption | downcase }}</figcaption>
  </figure>
</div> 
{% when 'image-grid' %}
<div class="{{ block.type }} content-block">
  <div class="row">
    <figure class="image-left">
      <img src="{{ block.left_image | prepend: site.url }}">
    </figure>
    <figure class="image-right">
      <img src="{{ block.right_image | prepend: site.url }}">
    </figure>
  </div>
</div> 
{% when 'text' %}
<div class="{{ block.type }} content-block">
  <div class="container">
    {% if block.title %}<h6>{{ block.title }}</h6>{% endif %}
    {{ block.body | markdownify }}
  </div>
</div>
{% when 'video' %}
<div class="{{ block.type }} content-block">
  <div class="container">
    <iframe src="https://player.vimeo.com/video/{{ block.id }}" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>    
{% when 'byline' %}
<div class="{{ block.type}}">
  <div class="container">
    <p class="heading">{{ block.byline | markdownify }}</p>
  </div>   
</div>   
{% endcase %}
{% endfor %}