{% for block in page.sections%}
{% case block.type %}
{% when 'full-width-image' or 'center-image' or 'split-image-left' or 'split-image-right' %}
{% if block.press_url %}
<a href="{{ block.press_url }}" target="_blank">
  <div class="{{ block.type }} content-block">
    <figure>
      <img src="{{ block.image | prepend: site.url }}"> 
      <figcaption class="caption text-center pin-horizontal-center">{{ block.caption | downcase }}</figcaption>
    </figure>
  </div> 
</a>
{% else %}
<a href="{{ block.press_url }}" target="_blank">
  <div class="{{ block.type }} content-block">
    <figure>
      <img src="{{ block.image | prepend: site.url }}"> 
      <figcaption class="caption text-center pin-horizontal-center">{{ block.caption | downcase }}</figcaption>
    </figure>
  </div> 
</a>
{% endif %}
{% when 'image-grid' %}
<div class="{{ block.type }} content-block">
  <div class="row">
    <figure class="image-left">
      <img src="{{ block.left_image | prepend: site.url }}">
    </figure>
    <figure class="image-right">
      <img src="{{ block.right_image | prepend: site.url }}">
    </figure>
  </div>
</div> 
{% when 'text' %}
<div class="{{ block.type }} content-block">
  <div class="container">
    {% if block.title %}<h6>{{ block.title }}</h6>{% endif %}
    {{ block.body | markdownify }}
  </div>
</div>
{% when 'vimeo' %}
<div class="video">
  <div class="{{ block.type }} content-block {% if block.is_square == true %}square{% endif %}">
    <div class="container">
      <iframe src="https://player.vimeo.com/video/{{ block.id }}?title=0&byline=0&portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</div>
{% when 'youtube' %}
<div class="video">
  <div class="{{ block.type }} video content-block {% if block.is_square == true %}square{% endif %}">
    <div class="container">
      <iframe src="https://www.youtube.com/embed/{{ block.id }}" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </div>
  </div>    
</div>
{% when 'media-grid' %}
<div class="{{ block.type }} content-block">
  <h5 class="featured text-center">As Featured In:</h5>
  <div class="row align-center wrap">
    {% for item in block.press_items %}
    <a href="{{ item.press_url }}" target="_blank" class="grid-one-fifth">
      <figure class="image-left">
        <img src="{{ item.logo | prepend: site.url }}">
      </figure>
    </a>
    {% endfor %}
  </div>
</div> 
{% when 'divider' %}
<div class="divider"></div>
{% endcase %}
{% endfor %}