/* fonts */
@font-face {
	font-family: 'Gotham';
	font-weight: lighter;
	src: url('../fonts/gotham-light.woff') format('woff'),
			 url('../fonts/gotham-light.woff2') format('woff2');
}

@font-face {
	font-family: 'Gotham';
	font-weight: normal;
	src: url('../fonts/gotham-book.woff') format('woff'),
			 url('../fonts/gotham-book.woff2') format('woff2');
}

@font-face {
	font-family: 'Gotham';
	font-weight: 500;
	src: url('../fonts/gotham-medium.woff') format('woff'),
			 url('../fonts/gotham-medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Gotham';
	font-weight: bold;
	src: url('../fonts/gotham-bold.woff') format('woff'),
			 url('../fonts/gotham-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Gotham';
	font-weight: bolder;
	src: url('../fonts/gotham-black.woff') format('woff'),
			 url('../fonts/gotham-black.woff2') format('woff2');
}