// header
header {
	width: $full;
	top: 0;
	
	.branding {
		position: relative;
		z-index: 1000;
		margin: 20px auto;
		line-height: 1.2;

		.name {
			font-weight: bold;
			letter-spacing: 3px;
			font-family: $heading-font-stack;
			text-transform: uppercase;
			margin: 0 auto;
		}

		.tagline {
			font-family: $heading-font-stack;
			font-size: $base-font-size + 1px;
			color: #888;
		}
	}

	@media #{$break-medium} {
		& {
			width: $full;
			padding: 0 !important;
		}
	}
}

// footer
.footer {
    width:  $full;
	z-index: 1;

	a {
		text-decoration: none;
	}

	@media #{$break-medium} {
		& {
        	flex-direction: column;
			padding: 0 20px;
			width: $full;
        	text-align: center;
        	height: 75px;
        	position: relative !important;
    	}

		& .social,
		& .copyright {
			margin: 2px auto !important;
			height: auto !important;
			flex: none !important;
		}

		& a {
			margin: 0 3px !important;
		}
	}
}

.social a,
.copyright {
	font-family: 'Roboto Mono';
	font-size: 10px;
    letter-spacing: 1px;
	color: #000;
    border-bottom: 1px solid rgba(0,0,0,0);
}

.social a:first-of-type {
    margin-left: 0;
}

.social a {
    margin: 0 6px;
}

.social a:hover {
    border-color: #000;
}

.copyright {
		text-align: right;
}