// header
header {

&:not(.about) {
	width: $full;
	margin-bottom: $gutter - 5px;
}

	&.about {
		width: $full;
		margin-bottom: 20px;
		margin-top: 0;
		top: 0;
	}


	.branding {
		position: relative;
		z-index: 1000;
		margin: 20px auto;
		line-height: 1.2;

		.name {
			font-weight: bold;
			letter-spacing: 2.5px;
			font-size: $base-font-size + 13px;
			font-family: $heading-font-stack;
			text-transform: uppercase;
			margin: 0 auto;
		}

		.tagline {
			font-family: $heading-font-stack;
			font-size: $base-font-size;
			color: #888;
		}

		.back {
			margin-top: $gutter / 2;
			text-transform: uppercase;
			color: $dark-color;
			font-family: $heading-font-stack;
			font-weight: 800;
			font-size: $base-font-size - 3px;
			letter-spacing: 4px;
			text-align: center;
		}
	}

	@media #{$break-medium} {
		& {
			width: $full;
			padding: 0 !important;
		}
	}
}