.page-content {
  width: $full;
  flex: 1 1 auto;

  &.home {
    .container {
      width: $full;
      max-width: $half-viewport-width + 10vw;
      max-height: $half-viewport-width + 10vw;
      margin: 0 auto;
      grid-gap: $gutter / 2;
      grid-template-columns: repeat(4, 1fr);
    
    .project {
      background: $dark-color;
      margin: 0 0 $gutter / 2 0 !important;

      a {
        color: $light-color;
        font-weight: bold;
        font-size: $base-font-size + 3px;
      }  
      
      &:before {
        content: '';
        display: table;
        padding-top: 100%;
      }
    
      &.featured {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;

        &:before {
          content: '';
          display: table;
          padding-top: 49%;
        }
      } 
      
      &.featured:nth-last-child(-n + 4) {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: -1 !important;
        grid-column-end: 3 !important
      }
    }
  }
}  
  
	&.about {
    .container {
      width: $half;

      @media #{$break-medium} {
        & {
          margin-top: $gutter * 8;
          width: $full - 10%;
        }
      }
    }

		.bio-image {
      width: 300px;
      display: none;
      margin: 100px auto 0 auto;
      
      @media #{$break-large} {
        & {
          display: none;
        }
      }
		}
  }
  
  &.work {
    width: $full;
    min-height: $full-viewport-height;
    padding: $gutter * 10 0;
  }
}

