.page-content {
  width: $full;
  flex: 1 1 auto;

  &.home {
    .container {
      width: $full;
      max-width: $half-viewport-width + 10vw;
      max-height: $half-viewport-width + 10vw;
      margin: 0 auto;
      grid-gap: $gutter / 2;
      grid-template-columns: repeat(4, 1fr);
    
    .project {
      background: $dark-color;
      margin: 0;
      cursor: pointer;

      &.about {
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1
      }
    
      &.contact {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3
      }

      a {
        color: $light-color;
        font-weight: 500;
        font-size: $base-font-size + 3px;
        text-transform: uppercase;
        opacity: 0;
        @include prefix(transition, opacity .3s ease-in, webkit moz ms);
      }  

      &:hover a {
        opacity: 1;
      }
      
      &:before {
        content: '';
        display: table;
        padding-top: 100%;
      }
    
      &.featured {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;

        &:before {
          content: '';
          display: table;
          padding-top: 49%;
        }
      } 
      
      &.featured:nth-last-child(-n + 4) {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: -1 !important;
        grid-column-end: 3 !important
      }
    }
  }
}  
  
	&.about {
    .container {
      width: $half + 15%;

      @media #{$break-medium} {
        & {
          margin-top: $gutter * 8;
          width: $full - 10%;
        }
      }
    }

		.bio-image {
      width: 300px;
      margin: 0 auto;
      
      @media #{$break-large} {
        & {
          display: none;
        }
      }
		}
  }
}


.project-overview {
  min-height: 100vh;
  background: #111;
  width: 100vw;

  .info {
    padding-top: $gutter;
  }
}

.project-overview .title {
  font-size: $base-font-size + 60px;
  color: #222;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
}

.project-overview .intro {
  width: $full - 20%;
  margin: 0 auto;
}

.project-overview .heading {
  color: $light-color;
  font-weight: 600;
  font-family: 'Roboto Mono';
  font-weight: 400;
  font-size: $base-font-size + 3px;

  span {
    font-size: $base-font-size + 3px;
  }
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');