.page-content {
  width: $full;

  &.home {

    .container {
      width: $full;
      max-width: $half-viewport-width + 5vw;
      max-height: $half-viewport-width + 5vw;
      margin: 0 auto;
    
    .navigation {
      background: $secondary-light-color;
      margin: 5px;
      opacity: 0;
      float: left;
      display: table;
      align-items: stretch;
      text-align: center;
      box-sizing: border-box;
      width: calc(#{$full / 4} - 10px);
      background-position: center !important;
      background-size: cover !important;

      &.featured {
        width: calc(#{$half} - 10px);
      }

      &.mobile {
        display: none;
      }

      &.no-image {
        border: 1px solid $border-color;
        
        span {
          opacity: 1;
        }
      }

      a {
        color: $light-color;
        font-weight: 500;
        font-size: $base-font-size;
        text-transform: uppercase;
        height: 100%;
        width: 100%;
        z-index: 100;
        line-height: 1.2;
      }  

      span {
        opacity: 0;
        z-index: 20;
        width: $full;
        color: $dark-color;
        font-size: $base-font-size - 3px;
        font-family: $heading-font-stack;
        @include prefix(transition, opacity .3s ease-in, webkit moz ms);

        @media #{$break-huge} {
          & {
             font-size: $base-font-size + 2px;
          }
        }

        p {
          margin-bottom: 0 !important;
        }      
      }

      &:hover span {
        opacity: 1;
      }
      
      &::before {
        content: '';
        display: block;
        padding-top: 100%;
      }

      &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $secondary-light-color;
        opacity: 0;
        @include prefix(transition, opacity .3s ease-in, webkit moz ms);
      }

      &:hover::after {
        opacity: 1;
        z-index: 1;
      }
      
      &.featured {
        &:before {
          content: '';
          display: block;
          padding-top: calc(50% - 5px);

          @media #{$break-medium} {
            & {
              padding-top: 100% !important;
            }
          }
        }
      } 
    }

    @media #{$break-medium} {
      & {
        width: $full - 10%;
        max-width: $full !important;
        max-height: $full !important;

        .navigation {
          float: none !important;
          margin-left: 0 !important;
          margin-right: 0 !important;
          width: 100% !important;

          &.has-mobile {
            display: none;
          }
          
          &.mobile {
            display: block;
          }
        }
      }
    }
  }
}  
  
	&.about {
    margin-top: $gutter * 5;

    @media #{$break-landscape} {
      & {
         overflow: auto;
      }
    }

    .container {
      max-width: 1024px;
      width: $full;
      max-height: calc(100vh - #{$gutter * 5});

      @media #{$break-landscape} {
        & {
           overflow: auto;
           max-height: $full;
        }
      }
    
    .page-heading {
      font-family: $heading-font-stack;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: $gutter;
    }

    .bio {
      padding: 0 $gutter;
      margin-right: 0 !important;

      p {
        line-height: $base-line-height;
      }

      @media #{$break-medium} {
        & {
          display: block !important;
          flex: none !important; 
        }  
      }
    }

      @media #{$break-medium} {
        & {
          display: block; 
          width: $full - 10%;   
        }
      }
    }

		.bio-image {
      padding: 0 $gutter;
      box-sizing: border-box;
      margin-left: 0 !important;
      width: 50%;

      @media #{$break-landscape} {
        & {
           display: none;
        }
      }

      @media #{$break-medium} {
        & {
          display: block !important;
          flex: none !important;   
          margin-bottom: $gutter * 2;
          float: none;
          width: 100%;
        }
      }

      img {
        display: block;
        margin: 0 auto;

        @media #{$break-larger} {
          & {
            width: $full - 10%;
          }
        }
      }
   
		}
  }
}
