.top-nav {
    width: $full;
    z-index: 1000;
    height: $header-height;
    position: fixed;
    top: -$header-height;
    left: 0;
    @include prefix(transition, top .15s ease-in, webkit moz ms);

    &.nav-down {
        top: 0;
    }

    a {
        font-family: 'Ion';
        font-size: 35px;
        vertical-align: middle;
        margin-right: 10px;
    }

    span {
        font-family: $heading-font-stack;
        text-transform: uppercase;
        font-size: $base-font-size + 2px;
        font-weight: 800;
        margin-left: 10px;
    }
}

.project-overview {
    height: $full-viewport-height;
    background: #111;
    width: $full;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    .back {
        position: absolute;
        top: 20px;
        text-transform: uppercase;
        color: $light-color;
        font-family: $heading-font-stack;
        font-size: $base-font-size - 2px;
        font-weight: 800;
        letter-spacing: 4px;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
    }

    .back .icon {
        font-family: 'Ion';
        font-size: 30px;
        vertical-align: middle;
    }

    .intro {
        margin: 0 auto;
        position: relative;
        flex: 1;
        opacity: 0;
        width: $full;
    }

        .title {
            font-size: $base-font-size + 75px;
            color: #222;
            font-weight: 800;
            font-family: $heading-font-stack;
            text-transform: uppercase;
            line-height: 1;

            @media #{$break-medium} {
                & {
                   font-size: $base-font-size + 20px;
                   max-width: $full;
                }
            }
        }
    
    .info {
        width: $full - 20%;

        .heading {
            color: $light-color;
            font-weight: 600;
            font-family: $base-font-stack;
            font-weight: 400;
            font-size: $base-font-size + 3px;
        
            @media #{$break-medium} {
                & {
                   font-size: $base-font-size + 1px;
                }
            }    

            a {
                color: $light-color;
            }
        }

        @media #{$break-medium} {
            & {
               width: $full - 10%;
            }
        }  
    }

    .arrow {
        font-size: $base-font-size + 20px;
        font-family: 'Ion';
        opacity: 0;
    }
  }

.project-content {
    width: $full;
    margin-top: $full-viewport-height;
    background: $secondary-light-color;
    padding: $gutter * 2 0;

    .container {
        max-width: 750px;

        &.columns {
            position: relative;
            column-count: 2;
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-gap: $gutter;
            -moz-column-break-inside:avoid;
            -webkit-column-break-inside:avoid;
            column-break-inside:avoid;

            .center-image {
                margin-bottom: $gutter;
                display: inline-block;
            }

            @supports not (column-span: all) {
                & {
                       margin-top: $gutter * 4;

                       .color-pallete {
                           position: absolute;
                           top: -$gutter * 4;
                       }
                   } 
               }
        }
        
        @media #{$break-medium} {
            &.columns {
                column-count: 1;
                -webkit-column-count: 1;
                -moz-column-count: 1;
            }
        }        
    }

    .content-block {
        opacity: 0;
        margin: $gutter * 1 auto;

        @media #{$break-medium} {
            & {
                margin: $gutter !important;
            }
        }

    }

    .color-pallete {
        column-span: all;
        -webkit-column-span: all;
    }

    .text {
        margin: $gutter * 1.5 auto;

        .container {
            max-width: $half + 30%;
        }
    }    

    .full-width-image img {
        width: 100%;
    }

    .center-image img {
        margin: 0 auto;
    }

    .image-grid {

        @media #{$break-medium} {
            & .row {
                display: block;
            }
        }

        figure {
            flex: 0 0 calc(#{$half} - #{$gutter / 2});
            width: calc(#{$half} - 10px);

            &.image-left {
                width: calc(#{$half} - #{$gutter / 2});
                margin-left: 0 !important;
            }

            &.image-right {
                width: calc(#{$half} - #{$gutter / 2});
                margin-left: auto !important;
            }

            @media #{$break-medium} {
                & {
                    width: 100% !important;
                    flex: none !important;
                    margin-bottom: $gutter;
                }
            }
        }
    }

    .video-grid {

        @media #{$break-medium} {
            & .row {
                display: block;
            }
        }

        figure {
            flex: 0 0 calc(#{$half} - #{$gutter / 2});
            width: calc(#{$half} - 10px);

            &.image-left {
                width: calc(#{$half} - #{$gutter / 2});
                margin-left: 0 !important;
            }

            &.image-right {
                width: calc(#{$half} - #{$gutter / 2});
                margin-left: auto !important;
            }

            @media #{$break-medium} {
                & {
                    width: 100% !important;
                    flex: none !important;
                    margin-bottom: $gutter;
                }
            }
        }
    }

    .video {
        
        .vimeo,
        .youtube {
            position: relative;
            width: 100%;
            overflow: hidden;

            &.standard {
                padding-bottom: 56.25%;
            }

            &.square {
                padding-bottom: 75% !important;
            }

            &.wide {
                padding-bottom: 42% !important;
            }
        
            iframe {
                position: absolute;
                top:0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            @media #{$break-medium} {
                & {
                    margin: 0 auto !important;
                }
            }   
        } 
        
        @media #{$break-medium} {
            & {
                margin: 0 !important;
            }
        }    
    }

    .byline {
        text-align: center;
        font-size: $base-font-size + 6px;
        font-family: $heading-font-stack;
        font-weight: 500;
        color: $dark-color;
        letter-spacing: 1px;
        padding-left: $gutter * 2;
        line-height: $base-line-height - .2;
        margin: $gutter * 3 auto;
        border-right: 10px solid;
        border-left: 10px solid;

        p {
            margin: -5px auto;
        }
    }

    .divider {
        margin: $gutter * 2 auto;
        height: 1px;
        width: $full;
        background: $border-color;
    }

    .media-grid {
        margin-top: -$gutter;

        .featured-heading {
            font-family: $heading-font-stack;
            text-transform: uppercase;
        }

        a {
            margin: 8px;
            @include prefix(transition, opacity .3s ease-in, webkit moz ms);  
        }
    }

    .media-plan {
        margin: $gutter * 2 auto;

        .container {
            max-width: $half + 20%;

            @media #{$break-medium} {
                & {
                    max-width: 100%;
                }
            }     
            
            .button {
                height: $button-height;
                display: block;
                max-width: 50%;
                margin: 0 auto;
                line-height: $button-height;
                border: 1px solid;
                border-radius: 2px;
                text-align: center;
                font-family: 'Gotham';
                font-weight: 800;
                font-size: 14px;
                text-transform: uppercase;

                @media #{$break-medium} {
                    & {
                        max-width: $full - 20%;
                    }
                } 
            }
        } 
    }

    @media #{$break-medium} {
        & .container {
            max-width: $full;
            width: $full;

            .content-block {
                margin: $gutter * 3 auto;
            }
        }
    }
}