.project-overview {
    height: $full-viewport-height;
    background: #111;
    width: $full-viewport-width;

    .back {
        margin-top: $gutter * 2;
        text-transform: uppercase;
        color: $light-color;
        font-family: $base-font-stack;
        font-weight: 800;
        text-align: center;
    }

    .back .icon {
        font-family: 'Ion';
        font-size: 40px;
        vertical-align: middle;
        color: $light-color;
    }

    .intro {
        width: $full - 20%;
        margin: 0 auto;
        flex: 1;
    }

        .title {
            font-size: $base-font-size + 75px;
            max-width: $full - 20%;
            color: #222;
            font-weight: 800;
            text-transform: uppercase;
            line-height: 1;
        }
    
    .info {
        width: $full - 20%;

        .heading {
            color: $light-color;
            font-weight: 600;
            font-family: 'Roboto Mono';
            font-weight: 400;
            font-size: $base-font-size + 3px;

            a {
                color: $light-color;
            }
        }
    }

    .arrow {
        font-size: $base-font-size + 20px;
        font-family: 'Ion';
    }
  }

.project-content {
    width: $full;
    padding: $gutter * 2 0;
    min-height: $footer-height;

    .container {
        max-width: $full - 40%;
        width: $full;

        &.columns {
            column-count: 2;
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-gap: $gutter;
        }
        
        @media #{$break-medium} {
            &.columns {
                column-count: 1;
                -webkit-column-count: 1;
                -moz-column-count: 1;
            }
        }        
    }

    .content-block {
        margin: $gutter * 1 auto;
    }

    .color-pallete {
        column-span: all;
        -webkit-column-span: all;
    }

    .text {
        margin: $gutter * 3 auto;

        .container {
            max-width: $half + 20%;
        }
    }    

    .full-width-image img {
        width: 100%;
    }

    .center-image img {
        margin: 0 auto;
    }

    .split-image-left,
    .split-image-right {
        width: 100%;
        background: $dark-color;

        .caption {
            margin-top: $gutter;
            width: $full;
        }
    }

    .split-image-left::after,
    .split-image-right::after {
        content: '';
        display: block;
        clear: both;
    }

    .split-image-left figure {
        width: $half;
        float: left;
        position: relative;
    }

    .split-image-right figure {
        width: $half;
        float: right;
        position: relative;
    }

    .image-grid {
        figure {
            flex: 0 0 calc(50% - #{$gutter / 2});

            &.image-left {
                margin-left: 0 !important;
            }

            &.image-right {
                margin-left: auto !important;
            }
        }
    }

    .video {
        border-bottom: 1px solid $border-color;

        .vimeo,
        .youtube {
            position: relative;
            padding-bottom: 56.25%;
            width: 100%;
            overflow: hidden;
        
            iframe {
                position: absolute;
                top:0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }    
    }

    @media #{$break-medium} {
        & .container {
            max-width: $full;
            width: $full;

            .content-block {
                margin: $gutter * 3 auto;
            }
        }
    }
}