---
layout: default
class: page
---

<section class="page-content {{ page.title | downcase }} align-center position-relative">
  <div class="container row wrap align-center spaced">

    {% for item in page.navigation %}
    {% if item.project %}
    {% assign project = site.work | where: 'title', item.project | first | limit: 10 %}
      <div class="row align-self-stretch loading {% if forloop.first == true or forloop.last == true %}featured grid-one-half {% else %} grid-one-quarter {% endif %}navigation project position-relative"  {% if item.cover_image %}style="background: url('{{ item.cover_image | prepend:site.url }}');"{% endif %}>
        <a href="{{ project.url | prepend:site.url }}" class="column align-center">
          <span>{{ project.title | markdownify }}</span>
        </a> 
      </div>
    {% elsif item.page_url %}
      <div class="row align-self-stretch loading  {% if forloop.first == true or forloop.last == true %}featured grid-one-half {% else %} grid-one-quarter {% endif %}navigation page position-relative" {% if item.cover_image %}style="background: url('{{ item.cover_image | prepend:site.url }}');"{% endif %}>
        <a href="{{ item.page_url | prepend:site.url }}" class="column align-center">
          <span>{{ item.title | markdownify }}</span>
        </a> 
      </div>
    {% elsif item.contact_email %}
      <div class="row align-self-stretch loading contact {% if forloop.first == true or forloop.last == true %}featured grid-one-half {% else %} grid-one-quarter {% endif %}navigation page {% if item.cover_image %}{% else %}no-image {% endif %}position-relative" {% if item.cover_image %}style="background: url('{{ item.cover_image | prepend:site.url }}');"{% endif %}>
        <a href="mailto:{{ item.contact_email }}" class="column align-center">
          <span>{{ item.title | markdownify }}</span>
        </a> 
      </div>  
    {% endif %}   
    {% endfor %}

  </div>
</section>