---
layout: default
class: page
---

<section class="page-content {{ page.title | downcase }} column align-center position-relative">
  <div class="container row wrap align-center">

    {% for item in page.navigation %}
    {% if item.project %}
    {% assign project = site.work | where: 'title', item.project | first %}
      <div class="row align-center {% if forloop.first == true or forloop.last == true %}featured grid-one-half {% else %} grid-one-quarter {% endif %}navigation" style="{% if item.cover_image %}background: url('{{ item.cover_image | prepend:site.url }}');{% endif %}">
        <a href="{{ project.url | prepend:site.url }}">
          {{ project.title }}
        </a> 
      </div>
    {% elsif item.page_url %}
      <div class="row align-center {% if forloop.first == true or forloop.last == true %}featured grid-one-half {% else %} grid-one-quarter {% endif %}navigation">
        <a href="{{ item.page_url | prepend:site.url }}">
          {{ item.title }}
        </a> 
      </div>
    {% elsif item.contact_email %}
      <div class="row align-center {% if forloop.first == true or forloop.last == true %}featured grid-one-half {% else %} grid-one-quarter {% endif %}navigation">
        <a href="mailto:{{ item.contact_email }}">
          {{ item.title }}
        </a> 
      </div>  
    {% endif %}   
    {% endfor %}

  </div>
</section>