---
layout: default
class: page
---

<nav class="top-nav row align-center">
  <a href="{{ site.url}}" class="icon">&#xf3d5;</a><span>{{ page.title }}</span>
</nav>

<section class="project-overview column align-justify-center" style="background: {{ page.general.project_color }}">
  <div class="intro column align-center text-center">
    <a href="{{ site.url }}" class="back" style="color: {{ page.general.project_text_color }}">back to work</a>
    <h1 class="title" style="color: {{ page.general.project_text_color }}">{{ page.title }}</h1>
    <div class="info">
      <h4 class="heading">{{ page.general.project_details | downcase }}</h4>
    </div>
  </div>

  <a href="#content" class="icons text-center arrow" style="color: {{ page.general.project_text_color }}">&#xf35d;</a>
</section>

<section id="content" class="project-content">
  <div class="container {% if page.is_columns == true %}columns{% endif %}">
   {% include content.html %}
  </div>
</section>
