---
layout: default
class: page
---

<section class="project-overview column align-justify-center" style="background: {{ page.general.project_color }}">
  <a href="{{ site.url }}" class="back" style="color: {{ page.general.project_text_color }}">back to work</a>
  
  <div class="intro column align-center text-center">
    <h1 class="title" style="color: {{ page.general.project_text_color }}">{{ page.title }}</h1>
    <div class="info">
      <h4 class="heading">{{ page.general.project_details | downcase }}</h4>
    </div>
  </div>

  <a href="#content" class="icons text-center arrow" style="color: {{ page.general.project_text_color }}">&#xf35d;</a>
</section>

<section id="content" class="project-content">
  <div class="container {% if page.is_columns == true %}columns{% endif %}">
    {% if page.general.color_pallete_image %}
    {% if page.general.pallete_is_first == true %} 
   <div class="color-pallete content-block">
      <figure>
        <img src="{{ page.general.color_pallete_image | prepend: site.url }}"> 
      </figure>
    </div> 
    {% endif %}
    {% endif %}

   {% include content.html %}
  
   {% if page.general.color_pallete_image %}
   {% if page.general.pallete_is_first != true %} 
   <div class="color-pallete content-block">
      <figure>
        <img src="{{ page.general.color_pallete_image | prepend: site.url }}"> 
      </figure>
    </div> 
    {% endif %}
    {% endif %}
  </div>
</section>
